.topnav{
    display:flex;
    background-color: rgb(56, 49, 49);
   
    justify-content: space-around;
    text-transform: uppercase;
    /*position: relative;*/


}
.topnav h2{
    color: azure;
    padding-top: 10px;
    /*float: left;
    position: absolute;
    left: 15px;
    top: 10px;*/

}
.orange{
    color: rgb(255, 166, 106);
}
.topnav li{
    display: inline-block;
    text-transform: capitalize;
    list-style: none;
    padding: 15px;
    border-radius: 4px;
    float: right;
}
.topnav li a{
    text-decoration: none;
    text-align: center;
    color:azure;
}
.topnav li:hover{
    background-color:rgb(255, 166, 106);
    scale: 1.1;
}